
.cube {
    width: 100px;
    height: 100px;
}
.green {
    background-color: darkgreen;
    margin-bottom: 50px;
}
.red {
    background-color: brown;
    margin-top: 40px;
}
img {
    width: 8%;
    float:left;
}
p {
    width: 20%;
}
